html {
  height: 100%;
}

body {
  height: 100%;
}

#map {
  height: 84%;
  width: 100%;
}

.column {
  width: 100%;
}

@media screen and (max-width: 480px) {
  #div {
    height: auto;
  }

  button {
    height: 70px;
    width: 100px;
    font-size: 36px;
    margin: 20px 10px 20px 10px;
    background-color: bisque;
  }
}
p {
  padding-top: 5%;
  font-size: 70px;
}

title {
  size: 50px;
}

.btn {
  position: absolute;
  text-align: center;
  display: inline-block;
  border-radius: 20%;
  /* 角丸       */
  font-size: 90pt;
  /* 文字サイズ */
  text-align: center;
  /* 文字位置   */
  cursor: pointer;
  /* カーソル   */
  padding: 12px 12px;
  /* 余白       */
  background: #e83929;
  /* 背景色     */
  color: #ffffff;
  /* 文字色     */
  line-height: 1em;
  /* 1行の高さ  */
  transition: .3s;
  /* なめらか変化 */
  top: 75%;
  left: 10%;
  text-decoration: none;
  font-weight: bolder;
} 

.button_solid006 a:hover {
  background: #FF2F2F;
  box-shadow: 0 5px 0px #B73434, 0 7px 30px #FF2F2F;
}

.button_solid006 a:active {
  background: #FF8282;
  box-shadow: 0 0px 10px #FF8282;
  box-shadow: 0 5px 0px #CC6262, 0 4px 10px #FF8282;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-image: url(./img/hagakisize_tate_sora4.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-size: 77em;
}

html {
  margin: 0;
  padding: 0;
}

#camera,
#camera--view,
#camera--sensor,
#camera--output {
  position: fixed;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#camera--view,
#camera--sensor,
#camera--output {
  transform: scaleX(-1);
  filter: FlipH;
}

.taken {
  height: 100px !important;
  width: 100px !important;
  transition: all 0.5s ease-in;
  border: solid 3px white;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  top: 20px;
  right: 20px;
  z-index: 2;
}

#fixed-footer-menu {
  position: fixed;
  width: 100%;
  bottom: 0px;
  opacity: 1;
  z-index: 100;
}

h1 {
  font-size: 7em;
}

#i {
  font-size: 3em;
}

ul {
  display: flex;
}

/* メニューを横並びにする */
#fixed-footer-menu ul {
  display: flex;
  list-style: none;
   margin: 0;
  width: 300%;
  background: skyblue;
}

/* メニューの要素 */
#fixed-footer-menu li {
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

/* メニューのボタン */
#fixed-footer-menu li a {
  color: #333;
  text-align: center;
  display: block;
  width: 100%;
  padding: 0px 80px;
  font-size: 8px;
  text-decoration: none;
}

/* アイコンのサイズを調整 */
.img {
  width: 200px;
  height: 150px;
  margin: 0px;
}
#screen_name{
  font-size: 21px;
  text-align: center;
  color: black;
}
a {
  display: block;
  text-decoration: none;
  color: black;
  margin-right: 35px;
  font-size: 50px;
}
#screen_name{
  font-size: 20px;
  text-align: center;
}