body {
    background-image: url(./hagakisize_tate_sora4.png);
    background-size: 76em;
    background-repeat: no-repeat;
    text-align: center;
}
svg{
    margin-bottom:150px;
    padding-left: 50px;
}
.styled {
    border: 0;
    line-height: 2.5;
    /* padding: 0 0 20px 0; */
    font-size:40px;
    text-align: center;
    color: #fff;
    max-width: 500px;
    /* max-height: 1000px; */
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    margin-left: 80px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
    
  }
  table{
    margin:auto;
    }
#buttonReturn{
    margin-right: 100px;
    text-align: center;
}

