ul {
  display: flex;
}

a {
  display: block;
  text-decoration: none;
  color: black;
  margin-right: 35px;
  font-size: 50px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 200%;
}

.img {
  width: 150px;
  height: 150px;
  margin: 20px;
}
body{
  margin: 0;
  padding: 0;
}
html{
  margin: 0;
  padding: 0;
}

#fixed-footer-menu {
  position: fixed;
  width: 100%;
  bottom: 0px;
  opacity: 1;
  z-index: 100;
}

/* メニューを横並びにする */
#fixed-footer-menu ul {
  display: flex;
  list-style: none;
  padding: 50;
  margin: 0;
  width: 300%;
  background: skyblue;
}

/* メニューの要素 */
#fixed-footer-menu li {
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

/* メニューのボタン */
#fixed-footer-menu li a {
  color: #333;
  text-align: center;
  display: block;
  width: 100%;
  padding: 0px 80px;
  font-size: 8px;
  text-decoration: none;
}

/* アイコンのサイズを調整 */
.img {
  width: 200px;
  height: 150px;
  margin: 0px;
}